.home-img {
  height: 400px;
  justify-self: center;
}
.home-title {
  font-size: var(--biggest-font-size);
  line-height: 144%;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}
.home-description {
  margin-bottom: var(--mb-1);
}

.home-container{
  display: flex;
}
.swiper-container {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 650px) {
  .home-container{
    flex-direction: column;
  }
  .swiper-container{
    width: 100%;
  }
  .home-img{
    max-width:300px ;
    max-height:300px ;
  }
}